.Rproj.user
.Rhistory
.RData
README.html
vignettes/*.html
vignettes/using_drtmle_cache/*
.Rapp.history
paper/using_drtmle_obstudies.tex
paper/using_drtmle_obstudies.pdf
paper/using_drtmle_obstudies_cache
